<div class="container my-5" style="max-width: 30rem;">
  <div class="card">
    <div class="card-body m-5">
      <h3><%= t('.sign_up') %></h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: 'form', :id => "user_signUp" }) do |f| %>
        <%= bootstrap_devise_error_messages! %>

        <div class="form-group my-4">
          <%= f.label :name, t('.name') %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
        </div>

        <div class="form-group my-4">
          <%= f.label :email, t('.email') %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>

        <div class="form-group my-4">
          <%= f.label :password, t('.password') %><br />
          <%= f.password_field :password, autocomplete: 'current-password', class: 'form-control' %>

          <% if @minimum_password_length %>
            <small class="form-text text-muted"><%= t('.minimum_password_length', count: @minimum_password_length) %></small>
          <% end %>
        </div>

        <div class="form-group my-4">
          <%= f.label :password_confirmation, t('.password_confirmation') %><br />
          <%= f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control' %>
        </div>

        <div class="form-group my-4">
          <%= f.submit t('.sign_up_button'), class: 'btn btn-lg btn-primary btn-block my-4' %>
        </div>
      <% end %>

      <%= link_to user_google_omniauth_authorize_path, class: "btn btn-lg btn-block btn-google my-4", style: 'color: white;' do %>
        <span style="color: white;"><i class="fa fa-google"></i>　Google Sign up</span>
      <% end %>
    </div>
  </div>
</div>