<div class="container">
  <h3>グループページ</h3>
  <div class="card shadow img-thumbnail mx-auto" style="max-width: 70rem;">
    <% if @group.icon.url.presence %>
      <%= image_tag @group.icon.url, class: 'img-top', style: 'width: 300px ; height: auto;' %>
    <% else %>
      <!-- 'no_image.png'は、assets/images内に配置 -->
      <%= image_tag 'no_image.png', class: 'img-fluid', style: 'border: 1px solid lightgray' %>
    <% end %>
    <div class="card-body">
      <p>グループ名：<%= @group.name %></p>
      <p>リーダー：<%= @leader.name %></p>
      <p>概要：<%= @group.summary %></p>

      <p>グループメンバー</p>
      <% @joins.each do |join| %>
        <p>
          <span class="mx-2"><%= join.user.name %></span>
          <% if current_user == join.user || @leader == current_user %>
            <span><%= link_to '脱退', join_path(join), method: :delete, class: 'btn btn-danger' %></span>
          <% end %>
        </p>
      <% end %><br/>

      <p>メンバー招待</p>
      <%= form_with(url: joins_path, method: :post, local: true) do |f| %>
        <div>
          <%= f.label :user_email, 'ユーザーアドレス' %>
          <%= f.text_field :user_email, class: 'form-control' %>
          <%= f.hidden_field :group_id, value: @group.id %>
        </div>

        <div class="actions">
          <%= f.submit '招待する', class: 'btn btn-success' %>
        </div>
      <% end %><br/>

      <div>
        <p>コメント欄</p>
        <% @comments.each do |com| %>
          <p>
            <span>名前：<%= com.user.name %></span>
            <span>コメント：<%= com.text %></span>
            <span>投稿日：<%= com.updated_at.to_time %></span>
          </p>
        <% end %>
      </div>

      <%= render partial: 'comments/form', locals: { comment: @comment, group: @group } %>

      <%= link_to '一覧へ', events_path, class: 'btn btn-primary' %>
      <% if @leader.id == current_user.id %>
        <%= link_to 'グループ編集', edit_group_path(@group), class: 'btn btn-success' %>
        <%= link_to 'グループ削除', group_path(@group),
                                    method: :delete,
                                    data: { confirm: "タスク「#{@group.name}」を削除します。よろしいですか？" },
                                    class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>