<div class="container">
  <h3>グループページ</h3>
  <div class="card shadow mx-auto" style="max-width: 50rem;">
    <div class="card-body">
      <p>グループ名：<%= @group.name %></p>
      <p>リーダー：<%= @leader.name %></p>
      <p>概要：<%= @group.summary %></p>
      <p>グループメンバー</p>
      <% @members.each do |m| %>
        <p><%= m.name%></p>
      <% end %>

      <div>
        <p>コメント欄</p>
        <% @comments.each do |com| %>
          <p>
            <span>名前：<%= com.user.name %></span>
            <span>コメント：<%= com.text %></span>
            <span>投稿日：<%= com.updated_at.to_time %></span>
          </p>
        <% end %>
      </div>

      <%= render partial: 'comments/form', locals: { comment: @comment, group: @group } %>

      <%= link_to '一覧へ', events_path, class: 'btn btn-primary' %>
      <% if @leader.id == current_user.id %>
        <%= link_to 'グループ編集', edit_group_path(@group), class: 'btn btn-success' %>
        <%= link_to 'グループ削除', group_path(@group),
                                    method: :delete,
                                    data: { confirm: "タスク「#{@group.name}」を削除します。よろしいですか？" },
                                    class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>