<div class="container">
  <h3>グループページ</h3>
  <div class="card shadow mx-auto" style="max-width: 50rem;">
    <div class="card-body">
      <p>グループ名：<%= @group.name %></p>
      <p>リーダー：<%= @leader.name %></p>
      <p>概要：<%= @group.summary %></p>
      <p>グループメンバー</p>
      <% @members.each do |m| %>
        <p><%= m.name%></p>
      <% end %>

      <%= link_to '一覧へ', events_path, class: 'btn btn-primary' %>
      <%= link_to 'グループ編集', edit_group_path(@group) %>
    </div>
  </div>
</div>