<div class="container">
  <h1>マイページ</h1>
  <p>名前：<%= @user.name %></p>
  <p>メールアドレス：<%= @user.email %></p>

  <p>所属グループ一覧</p>
  <% @groups.each do |g| %>
    <p><%= link_to "#{g.name}", group_path(g) %></p>
  <% end %>

  <p>投稿したイベント一覧</p>
  <% @user_planning_events.each do |event| %>
    <p><%= link_to "#{event.name}", contacts_path(id: event.id) %></p>
  <% end %>
</div>



<%= render partial: 'events/index', locals: { events: @events }%>