<div class="container">
  <h1>マイページ</h1>
  <% if @user.icon.url.presence %>
      <%= image_tag @user.icon.url, size: '100x100',
                                    class: 'rounded-circle border border-secondly img-responsive mx-3 my-2' %>
    <% else %>
      <!-- 'no_image_man.jpeg'は、app/assets/images内に配置 -->
      <%= image_tag 'no_image_man.jpeg', size: '100x100',
                                        class: 'rounded-circle border border-secondly img-responsive mx-3 my-2' %>
  <% end %>
  <p>名前：<%= @user.name %></p>
  <p>メールアドレス：<%= @user.email %></p>
  <p><%= link_to 'プロフィール変更', edit_user_registration_path, class: 'btn btn-success' %></p>

  <p>所属グループ一覧</p>
  <% @groups.each do |g| %>
    <p><%= link_to "#{g.name}", group_path(g) %></p>
  <% end %>

  <p>投稿したイベント一覧</p>
  <% @user_planning_events.each do |event| %>
    <p><%= link_to "#{event.name}", contacts_path(id: event.id) %></p>
  <% end %>
</div>



<%= render partial: 'events/index', locals: { events: @events }%>