<div class="container user-apply-event px-1 py-3 mt-3">
  <h5 class="ml-3 mb-3">参加を申し込んだイベント</h5>

  <div class="user-apply-event__index" >
    <% events.each do |event| %>
      <div class="card img-thumbnail mx-auto user-apply-event__index__item">
        <% if event.image.url.presence %>
          <%= image_tag event.image.url, style: 'border: 1px solid lightgray' %>
        <% else %>
          <!-- 'no_image.png'は、assets/images内に配置 -->
          <%= image_tag 'no_image.png', style: 'border: 1px solid lightgray' %>
        <% end %>
        <div class="card-body">
          <p class="card-title"><%= event.name %></p>
          <p class="card-subtitle text-muted">開催日:<%= event.date %></p>
          <%= link_to '詳細', event_path(event), class: 'btn-sm btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>