<div class="container my-3">
  <h3 class="my-3">イベント詳細</h3>
  <div class="card shadow mx-auto" style="max-width: 70rem;">
    <div class="card-header">
      <strong><span>投稿者：<%= @event.user.name %></span></strong>
      <%= link_to 'お問い合わせ', new_contact_path(event_id: @event.id),
                                                  class: 'btn btn-info float-right' if current_user %>
    </div>

    <div class="card-body">
      <div class="container">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">イベント名：<strong><%= @event.name %></strong></li>
          <li class="list-group-item">開催場所：<%= @event.place %></li>
          <li class="list-group-item">日時：<%= @event.date %> 、開始時間：<%= "#{@event.start_at.strftime("%H:%M")}" %></li>
          <li class="list-group-item">終了時間：<%= @event.end_at.presence ?  "#{@event.end_at&.strftime("%H:%M")}" : '未設定' %></li>
          <li class="list-group-item">参加費用：<%= "#{@event.cost}円" %></li>
          <li class="list-group-item">url：<%= @event.link_url %></li>
          <li class="list-group-item">概要：<%= @event.meta %></li>
        </ul>
      </div>

      <div class="container mt-5">
        <!-- イベントへの参加（attend create）ボタン -->
        <!-- ログインしていて、イベントに参加申し込みをしている場合、キャンセルボタンを表示する -->
        <% if current_user && user_apply_event?(@event)  %>
          <div class="text-center"><%= link_to '参加キャンセル', attend_path(@attend),
                                            method: :delete, class: 'btn btn-danger' %></div>
        <% else %>
          <!-- ログインしていない場合、ログイン画面に遷移させる -->
          <div class="text-center"><%= link_to '参加を申し込む', attends_path(event_id: @event.id),
                                            method: :post, class: 'btn-lg btn-primary' %></div>
        <% end %>
      </div>

      <br/>
      <p>現在の参加者数：<%=@guests.count %>人</p>
      <% @guests.each do |g| %>
        <p><%= g.name %>さん</p>
      <% end %>

      <%= link_to '一覧へ', events_path, class: 'btn btn-primary' %>

      <!-- イベントの投稿者がログインしている時のみ編集、削除ボタンを表示する -->
      <% if current_user && user_contribute_event?(@event) %>
        <%= link_to '編集', edit_event_path(@event), class: 'btn btn-success' %>
        <%= link_to '削除', event_path(@event),
                            method: :delete,
                            data: { confirm: "タスク「#{@event.name}」を削除します。よろしいですか？" },
                            class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>