<div class="card shadow mx-auto" style="max-width: 50rem;">
  <div class="card-body">
    <h3>お問い合わせフォーム</h3>
    <%= form_with(model: @contact, local: true, html: { role: 'form', :id => "contact_form" }) do |f| %>
      <% if @contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contact.errors.count, "") %>件のエラーがあります。</h2>
          <ul>
          <% @contact.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <strong><p>投稿者：<%= @event.user.name %></p></strong>
          <p>イベント名：<%= @event.name %></p>
          <p>日時：<%= @event.date %></p>
          <p>開催場所：<%= @event.place %></p>
          <p>開始時間：<%= "#{@event.start_at.hour}:#{@event.start_at.min}" %></p>
          <p>終了時間：<%= @event.end_at %></p>
          <p>参加費用：<%= "#{@event.cost}円" %></p>
          <p>url：<%= @event.link_url %></p>
          <p>備考：<%= @event.meta %></p><br/>
      <div class="form-group">
        <%= f.label :message %>
        <%= f.text_area :message, class: 'form-control' %>
        <%= f.hidden_field :event_id, value: @event.id %>
      </div>

      <div class="action">
        <%= f.submit nil, class: 'btn btn-primary'%>
      </div>
    <% end %>
  </div>
</div>
