<!DOCTYPE html>
<html>
  <head>
    <title>Eventmag</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.notice.present? %>
      <div class="container alert alert-success my-2">
        <%= notice %>
      </div>
    <% elsif flash.alert.present? %>
      <div class="container alert alert-danger my-2">
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
